* {
  color: #d1d1d1;
  font-family: 'Rubik', 'Roboto', sans-serif;
  font-size: 18px;
}

body {
  padding: 0px;
  background-color: #f8f8f821;
}

pre,.monospaced {
  font-family: 'Inconsolata', monospace;;  
}