@import './variables';
@import './reset';



.App {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
    &__title {
    margin-left: 5px;
    font-size: medium;
    font-family:'Courier New', Courier, monospace;
       
  }
}
.formfilter {
  background-color: rgb(8, 8, 8);
  color:white;
  width: 150px;
  min-height: 300px;
  margin: 0 5px;
  padding: 5px;
  box-shadow: 0 0 5px 0 lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  &__input {
    width: 110px;
    padding: 5px;
    color: rgb(14, 15, 15);
    border: 1px solid rgb(59, 6, 59);
    outline: none;
  }
}
.film-form input {
  width: 200px;
  padding: 5px;
  color: darkcyan;
  border: 1px solid darkcyan;
  outline: none;
}
.film-form textarea {
  width: 200px;
  min-height: 100px;
  padding: 5px;
  color: rgb(159, 182, 182);
  border-color: darkcyan;
  outline: none;
  &__label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    margin: 5px 0;
  }
  &__input {
    width: 15px;
    margin-right: 5px;
    padding: 5px;
  }
  
}

