
@import "./reset";


.App-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;

    &__title {
    margin-left: 5px;
    font-size: medium;
    font-family:'Courier New', Courier, monospace;
       
  }
}
.App-header {
  width: 100%;
  background-color: rgb(72, 14, 80);
  display: flex;
  justify-content: center;
  justify-self: center;
  &__logo {
    height: 10vw;
  }
}